.dark-mode-switch {
  margin-bottom: 1rem;
}

.dark-mode-switch .form-switch {
  display: flex;
}

.dark-mode-switch label {
  font-size: 0.875rem;
  font-weight: bold;
}

.dark-mode-switch .form-switch .form-check-input {
  border-radius: 1em;
  border-color: #DAE3E7;
}

.dark-mode-switch .form-check-input:checked {
  background-color: #54ba4e;
  border-color: #54ba4e;
}

.dark-mode-switch .form-check-input:focus {
  box-shadow: none;
  border-color: #DAE3E7;
}
[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}